@import '../../styles/global';

.mediaFiltersContainer {
  @extend .flexColumn;
  margin-bottom: 40px;

  .mediaFiltersHeader {
    @extend .flexRow;
    @extend .flexSpaceBetween;
  }

  .seeAllBtn {
    @extend .btnSecondary;
  }

  .seeAllBtnActive {
    display: none;
  }

  .title {
    font-weight: $weight-light;
  }

  .mediaFilters {
    margin: 10px 0;
    @extend .flexRow;
    @extend .flexSpaceBetween;

    .mediaFilter {
      position: relative;
      @extend .btnPrimary;
      width: 100px;
      border: none;

      .icon {
        position: absolute;
        left: 43%;
        font-size: 24px;
        transition: all 0.2s ease-in-out;
        bottom: 1px;
      }

      .name {
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &.gaming {
        color: $color-gaming;
        border: 1px solid $color-gaming;
      }

      &.movies {
        color: $color-movies;
        border: 1px solid $color-movies;
      }

      &.music {
        color: $color-music;
        border: 1px solid $color-music;
      }

      &.tv {
        color: $color-tv;
        border: 1px solid $color-tv;
      }

      &.books {
        color: $color-books;
        border: 1px solid $color-books;
      }

      &:hover {
        background-color: transparent;

        .icon {
          font-size: $size-normal;
          left: 8px;
          margin-bottom: 0;
          bottom: 5px;
        }

        .name {
          opacity: 1;
        }
      }
    }

    .mediaFilterActive {

      .icon {
        font-size: $size-normal;
        left: 8px;
        margin-bottom: 0;
        bottom: 5px;
      }

      .name {
        opacity: 1;
      }

      &.gaming {
        color: white;
        background-color: $color-gaming;
      }

      &.movies {
        color: white;
        background-color: $color-movies;
      }

      &.music {
        color: white;
        background-color: $color-music;
      }

      &.tv {
        color: white;
        background-color: $color-tv;
      }

      &.books {
        color: white;
        background-color: $color-books;
      }
    }
  }

}

@media #{$media-tablet} {
  .mediaFiltersContainer {
    padding: 0 5px;
    .mediaFilters {
      flex-wrap: wrap;
      .mediaFilter {
        margin: 5px;
        width: 70px;
        background-color: transparent;

        .icon {
          font-size: $size-normal;
          left: 8px;
          margin-bottom: 0;
          bottom: 5px;
        }

        .name {
          font-size: $size-smaller;
          font-weight: $weight-regular;
          opacity: 1;
        }

      }
    }
  }
}

@media #{$media-phone} {
  .mediaFiltersContainer {
    .mediaFilters {
      flex-direction: column;
      align-items: center;

        .mediaFilter {
          margin: 5px;
          width: 200px;
          background-color: transparent;

          .name {
            font-size: $size-small;
            font-weight: $weight-regular;
            opacity: 1;
          }

        }
    }
  }
}