@import "../styles/global";

.seeAllNews {
  float: left;
}

.descriptionContainer {
  @extend .flexRow;
  @extend .flexSpaceBetween;

  strong {
    color: $color-main;
  }

  .descriptionTextContainer {

    @extend .flexAlignCenter;
    @extend .flexColumn;
    font-weight: $weight-light;
    flex: 0.7;
    margin-right: 15px;

    .titleContainer {
      position: relative;
      height: 60px;
      top: 30px;
      font-size: $size-bigger;
      padding: 0 40px;
      background-color: $background-primary;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
    }


    .body {
      background-color: $background-primary;
      border: 1px solid $color-main;
      border-radius: 5px;
      padding: 80px;
      width: 100%;
      box-sizing: border-box;
      flex: 1 1;

      .subjObj {
        display: inline-block;
        position: relative;
        top: 8px;
        height: 25px;
        overflow: hidden;
        text-align: right;

        .subj, .obj {
          height: 30px;
          transition: all 0.3s ease-in-out;
        }

        &.margin {
          .subj {
            transform: translateY(-30px);
            transition: all 0.3s ease-in-out;
          }

          .obj {
            transform: translateY(-30px);
            transition: all 0.3s ease-in-out;
          }

        }
      }
    }
  }

  .navigationPanelContainer {
    @extend .flexAlignCenter;
    @extend .flexColumn;

    font-weight: $weight-light;
    flex: 0.3;
    margin-left: 15px;

    .titleContainer {
      @extend .sectionTitle;
      justify-content: center;
      position: relative;
      height: 40px;
      top: 30px;
      left: 20px;
      font-size: $size-big;
      padding: 0 40px;
      background-color: $color-main;
      color: white;
      text-transform: uppercase;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-weight: $weight-regular;
    }

    .navigationPanel {
      @extend .flexColumn;
      @extend .flexSpaceBetween;
      margin-top: 20px;
      border: 1px solid $color-main;
      border-radius: 5px;
      padding: 30px;
      width: 100%;
      box-sizing: border-box;
      flex: 1 1;

      .title {
        //font-weight: $weight-regular;
        font-size: $size-normal;
      }

      .btnSecondary {
        position: relative;
        .icon {
          font-size: 18px;
          position: absolute;
          left: 10px;
        }
        &:after {
          content: '>';
          position: absolute;
          right: 10px;
        }

        &.gaming {
          color: $color-gaming;
          border: 1px solid $color-gaming;

          &:hover {
            background-color: $color-gaming;
            color: white;
            box-shadow: none;
          }
        }

        &.movies {
          color: $color-movies;
          border: 1px solid $color-movies;

          &:hover {
            background-color: $color-movies;
            color: white;
            box-shadow: none;
          }
        }

        &.tv {
          color: $color-tv;
          border: 1px solid $color-tv;

          &:hover {
            background-color: $color-tv;
            color: white;
            box-shadow: none;
          }
        }

        &.music {
          color: $color-music;
          border: 1px solid $color-music;

          &:hover {
            background-color: $color-music;
            color: white;
            box-shadow: none;
          }
        }

        &.books {
          color: $color-books;
          border: 1px solid $color-books;

          &:hover {
            background-color: $color-books;
            color: white;
            box-shadow: none;
          }
        }
      }
    }
  }
}