@import "../styles/global";

.seeAllNews {
  float: left;
}

.descriptionContainer {
  @extend .flexRow;
  @extend .flexSpaceBetween;

  strong {
    color: $color-main;
  }

  .descriptionTextContainer {

    @extend .flexAlignCenter;
    @extend .flexColumn;
    font-weight: $weight-light;
    width: 750px;

    .titleContainer {
      position: relative;
      height: 60px;
      top: 30px;
      font-size: $size-bigger;
      padding: 0 40px;
      background-color: $background-primary;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
    }

    .body {
      background-color: $background-primary;
      border: 1px solid $color-main;
      border-radius: 5px;
      padding: 80px;
      width: 100%;
      box-sizing: border-box;

      .subjObj {
        display: inline-block;
        position: relative;
        top: 8px;
        height: 25px;
        overflow: hidden;
        text-align: right;

        .subj, .obj {
          height: 30px;
          transition: all 0.3s ease-in-out;
        }

        &.margin {
          .subj {
            transform: translateY(-30px);
            transition: all 0.3s ease-in-out;
          }

          .obj {
            transform: translateY(-30px);
            transition: all 0.3s ease-in-out;
          }

        }
      }
    }
  }
}