@import "../styles/global";

.descriptionHeader {
  height: 300px;
  background-color: $background-secondary;
  opacity: 1;
  position: relative;
  @extend .flexColumn;
  @extend .flexCenter;

  .descriptionSectionTitle {
    @extend .sectionTitle;
    align-self: center;
    z-index: 3;
  }

  .descriptionBackgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    opacity: 0.6;
    z-index: 2;
  }
}

.descriptionContainer {
  @extend .flexColumn;
  @extend .flexAlignCenter;

  &:before {
    content: "";
    width: 0;
    display: block;
    transition: all 0.8s linear;
    border-bottom: 2px solid $color-main;
  }

  &:after {
    content: "";
    width: 0;
    display: block;
    transition: all 0.8s linear;
    border-bottom: 2px solid $color-main;
  }

  &.visible {
    &:before {
      width: 100%;
      transition: all 0.8s linear;
    }

    &:after {
      width: 100%;
      transition: all 0.8s linear;
    }

    .bodySection1 {
      transition: all 0.7s ease-in-out;
    }

    .bodySection2 {
      transition: all 0.7s ease-in-out 0.4s;
    }

    .bodySection {
      transform: translateX(0px);
      margin-right: 0;
      opacity: 1;
    }
  }

  .descriptionWrapper {
    padding: 40px 0;
    @extend .flexRow;
  }

  strong {
    color: $color-main;
    font-weight: $weight-regular;
  }

  .descriptionLeftPanel {
    width: 250px;
    transition: all 0.7s ease-in-out;
    opacity: 0;
    transform: translateX(200px);
    z-index: 1;

    &.visible {
      opacity: 1;
      transition: all 0.7s ease-in-out 0.7s;
      transform: translateX(0px);
    }

    .title {
      @extend .flexRow;
      @extend .flexCenter;
      @extend .flexAlignCenter;
      background-color: $background-secondary;
      color: white;
      height: 100px;
    }

    .image {
      object-fit: cover;
    }
  }

  // workaround for IE
  .bodyWrapper {
    z-index: 3;
    flex: 1;
    flex-direction: row;
    background-color: white;
    transition: all 0.7s ease-in-out 0.7s;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;

    // workaround for space evenly on IE
    &:before,
    &:after {
      content: '';
      display: block;
    }
  }

  .bodySection {
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;


    p {
      font-weight: $weight-light;
      text-align: justify;
      max-width: 600px;
    }
  }


  .bodySection1 {
    transform: translateX(100px);
  }

  .bodySection2 {
    transform: translateX(-100px);

    p {
      text-align-last: right;
    }
  }

  .descriptionIcon {
    width: 3.8em;
    height: 3.8em;
    margin: 0 20px 0 20px;
    color: $color-main;
  }

  .transparent {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .descriptionContainer {
    .bodySection {
      flex-direction: column;
      text-align: left;
    }

    .bodySection2 {
      flex-direction: column-reverse;

      p {
        text-align-last: left;
      }
    }

    .descriptionIcon {
      width: 2em;
      height: 2em;
    }

    .transparent {
      width: 0;
      height: 0;
    }
  }
}


.skillsContainer {

  margin: 30px 0;

  .body {
    display: flex;
    flex-direction: row;
    //IE fix
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
  }

  .bodySection {
    max-width: 600px;
    transform: translateX(50px);
    opacity: 0;
  }

  .bodySection1.visible {
    transform: translateX(0px);
    margin-right: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out 0.1s;
  }

  .bodySection2.visible {
    transform: translateX(0px);
    margin-right: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out 0.25s;
  }

  .bodySection3.visible {
    transform: translateX(0px);
    margin-right: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out 0.4s;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .skillsContainer .body {
    justify-content: space-between;
  }
}

@supports (-ms-ime-align:auto) {
  .skillsContainer .body {
    justify-content: space-between;
  }
}

.mainContactContainer {
  .subtitle {
    text-align: center;
    font-size: $size-big;
    font-weight: $weight-light;
    margin-bottom: 60px;

    span {
      opacity: 0;
      margin: 10px 3px;
    }

    strong {
      color: $color-main;
    }
  }

  .contactContainer {
    @extend .flexRow;
    @extend .flexCenter;
    @extend .flexAlignCenter;


    .contactIconContainer {
      @extend .flexColumn;
      @extend .flexAlignCenter;
      @extend .flexCenter;
      opacity: 0;

      &:first-child {
        transform: translateX(-200px);

        .wrapper {
          background-color: #3399C1;
        }

        .description {
          color: #3399C1;
        }
      }

      &:nth-child(2) {
        transform: translateX(-350px);

        .wrapper {
          background-color: #4183C4;
        }

        .description {
          color: #4183C4;
        }
      }

      &:nth-child(3) {
        transform: translateX(-500px);

        .wrapper {
          background-color: #FF4967;

          .contactIcon {
            height: 40px;
            width: 40px;
          }
        }

        .description {
          color: #FF4967;
        }
      }

      &:nth-child(4) {
        transform: translateX(-650px);

        .wrapper {
          background-color: #FF5700;
        }

        .description {
          color: #FF5700;
        }
      }

      .description {
        transform: translateY(-20px);
        z-index: -1;
        transition: all 0.1s ease-in-out;
        text-transform: uppercase;
        font-size: $size-small;
        font-weight: $weight-regular;
      }

      &:hover {
        .description {
          transform: translateY(10px);
          transition: all 0.2s ease-in-out 0.1s;
        }

        .wrapper {
          transform: scale(1.2);
          transition: all 0.2s ease-in-out;
        }
      }

      .wrapper {
        @extend .flexColumn;
        @extend .flexAlignCenter;
        @extend .flexCenter;

        height: 70px;
        width: 70px;
        margin: 0 40px;
        transition: all 0.1s ease-in-out;

        .contactIcon {
          font-size: 40px;
          color: white;
        }
      }
    }
  }

  &.visible {

    .subtitle {
      span {
        &:first-of-type {
          opacity: 1;
          transition: all 0.3s linear;
        }

        &:nth-of-type(2) {
          opacity: 1;
          transition: all 0.3s linear 0.3s;
        }

        &:nth-of-type(3) {
          opacity: 1;
          transition: all 0.3s linear 0.8s;
        }
      }
    }

    .contactIconContainer {
      opacity: 0.8;

      &:first-child {
        transform: translateX(0);
        transition: all 0.21s linear 1.2s;
      }

      &:nth-child(2) {
        transform: translateX(0);
        transition: all 0.35s linear 1.2s;
      }

      &:nth-child(3) {
        transform: translateX(0);
        transition: all 0.5s linear 1.2s;

      }

      &:nth-child(4) {
        transform: translateX(0);
        transition: all 0.62s linear 1.2s;
      }
    }
  }
}