@import '../../styles/global';

.noPostsContainer {
  @extend .flexColumn;
  @extend .flexAlignCenter;
  flex: 1;
  font-weight: $weight-light;

  .small {
    font-size: $size-small;
    position: relative;
  }
}