@import '../../styles/global';

.footerContainer {
  @extend .flexRow;
  @extend .flexAlignCenter;
  background: $color-main;
  z-index: 2;

  .firstCol {
    @extend .flexColumn;
    @extend .flexCenter;

    .logoContainer {
      padding-left: calc(((100vw - #{$containerWidth}) / 2) + 60px);
      @extend .flexRow;
      @extend .flexAlignCenter;
      justify-content: flex-end;
      transform: skewX(30deg);
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
      background: $background-primary;
      height: 100px;
      z-index: 3;
      margin-left: -60px;
      padding-right: 60px;

      .logoWrapper {
        transform: skewX(-30deg);
        @extend .flexRow;
        @extend .flexAlignCenter;
        cursor: pointer;

        .imageContainer {
          padding: 10px;
        }
      }

      .logoName {
        @extend .flexColumn;
        justify-content: flex-start;
        font-family: 'Montserrat', sans-serif;
        color: $color-main;
        text-transform: uppercase;
        font-size: $size-big;
        letter-spacing: 1px;
      }

      .light {
        font-weight: $weight-light;
      }
    }

    .copyright {
      align-self: flex-end;
      font-size: $size-smaller;
      color: white;
      padding-top: 15px;

    }
  }

  .menusContainer {
    padding-left: 50px;
    margin-right: calc((100vw - #{$containerWidth}) / 2);

    .menusWrapper {
      @extend .flexRow;
      @extend .flexCenter;

      .menuContainer {
        min-width: 150px;
        @extend .flexColumn;
        justify-content: flex-start;
        padding: 20px;

        .title, .item {
          padding: 6px;
          color: white;
          font-size: $size-small;
          font-weight: $weight-bold;

          a {
            color: white;
          }
        }

        .title {
          font-weight: $weight-light;
        }
      }
    }


  }
}


@media #{$media-tablet} {
  .footerContainer {
    .firstCol {

      .logoContainer {
        padding-left: 70px;
        padding-right: 30px;

        .logoName {
          display: none;
        }
      }
    }

    .menusContainer {
      flex: 1;
      padding: 0;
      margin: 0;

      .menusWrapper {
        margin: 0 30px;
        justify-content: space-between;
        flex-wrap: wrap;

        .menuContainer {
          padding: 10px 5px;
          min-width: 0;
          justify-content: flex-start;
        }
      }
    }
  }
}

@media #{$media-phone} {
  .footerContainer {
    .firstCol {
      display: none;
    }
    .menusContainer {
      .menusWrapper {
        margin-left: 0;
        &:after {
          content: "© Gwenaël Girod, 2019";
          align-self: flex-end;
          font-size: $size-smaller;
          color: white;
          padding: 15px 10px;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

