@import '../styles/global';

.sectionContainer {
  background-color: $background-primary;
  @extend .flexRow;
  @extend .flexCenter;
  flex: 1;

  .sectionTitle {
    margin-bottom: 30px;
  }

  .wrapper {
    width: $containerWidth;

    .body {
      @extend .flexColumn;
      padding: 30px 0;

      .header {
        @extend .flexRow;
        @extend .flexSpaceBetween;
      }
    }

  }
}

.sectionContainer.secondaryBackground {
  background-color: rgba($background-secondary, 0.1);
}

.sectionContainer.withBorders {
  background-color: $background-gray;

  .wrapper {
    background-color: $background-primary;
    width: calc(#{$containerWidth} + 100px);
  }
}

.sectionContainer.noPaddingTop {

  .body {
    padding-top: 0;
  }
}

@media #{$media-tablet} {
  .sectionContainer {
    .btnPrimary {
      margin-right: 5px;
    }
  }
}
